<h1>Editing homeowner</h1>

<%= render "form", homeowner: @homeowner %>

<br>

<div>
  <%= link_to "Show this homeowner", @homeowner %> |
  <%= link_to "Back to homeowners", homeowners_path %>
</div>
