<div class="container">
  <h1>Homeowner Profile</h1>
  <%= render @homeowner %>

  <div class="text-right">
    <%= link_to "Back to homeowners", homeowners_path, class: "btn  btn-primary" %>
  </div>
</div>
