<div class="container">
  <h1>Admin Profile</h1>

  <div id="admins">
    <% if @admins.present? %>
      <%= render @admins %>
    <% else %>
      <div class="alert alert-info" role="alert">
        No admins found.
      </div>
    <% end %>
  </div>
  <div class="text-right">
    <% if current_user.admin? %>
      <%= link_to "New admin", new_admin_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
