<!-- app/views/bids/confirmation.html.erb -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Bid Confirmation</h1>
          <p class="card-text">Your bid has been successfully created!</p>
          <!-- Display bid details if needed -->
          <p><%= link_to "Back to Service Requests", service_requests_path, class: "btn btn-primary" %></p>
        </div>
      </div>
    </div>
  </div>
</div>