<%= form_with(model: @service_request, url: service_requests_path, method: :post, multipart: true, html: { class: "form-horizontal" }) do |form| %>
  <div class="container">
    <%= render "form", service_request: @service_request %>
  </div>
  <%= link_to 'Back', service_requests_path %>
<% end %>