<!-- app/views/ads/edit.html.erb -->
<div class="container">
  <h1 class="mt-5">Edit Advertisement</h1>
  <%= render "form", ad: @ad %>

  <div class="text-left mt-3">
    <%= link_to "Back to advertisements", advertisements_path, class: "btn btn-primary" %>
  </div>
</div>