<% if @contractor_options.present? %>
  <%= select_tag 'review[contractor_id]', options_for_select(@contractor_options), prompt: 'Select Contractor', class: 'form-select', role: 'listbox' %>
<% else %>
  <p>No contractors found</p>
<% end %>
