<div class="container">
  <h1>Contractors</h1>

  <div id="contractors">
    <%= will_paginate @contractors, renderer: BootstrapPagination::Rails %>

    <%= render @contractors %>

    <%= will_paginate @contractors, renderer: BootstrapPagination::Rails %>
  </div>


  <div class="text-right">
    <%= link_to "New contractor", new_contractor_path, class: "btn btn-primary" %>
  </div>
</div>
