
<div class="container">
  <h1>Contractor</h1>
  <%= render @contractor %>

  <div class="text-right">
    <%= link_to "Back to contractors", contractors_path, class: "btn  btn-primary" %>
  </div>
</div>
