<div class="container">
  <%= render "form", ad_manager: @ad_manager %>
  <div class="text-left">
    <%= link_to "Back to ad managers", ad_managers_path, class: "btn  btn-primary" %>
  </div>
</div>
