<div class="container">
  <h1>Ad Manager Profile</h1>
  <%= render @ad_manager %>

  <div class="text-right">
    <%= link_to "Back to ad managers", ad_managers_path, class: "btn  btn-primary" %>
  </div>
</div>
